@model IEnumerable<Answer>
@{ Layout = "_Layout"; ViewBag.Title = "All Answers";}

<h2>All Answers</h2>
<a asp-action="AddAnswer" class="btn btn-sm btn-primary">Add Answer</a>
<a asp-action="GetAnswer" class="btn btn-sm btn-secondary">Get Answer</a>
<table class="table table-sm table-striped table-bordered m-2">
    <thead><tr><th>ID</th><th>Body</th><th>Accepted</th><th>Update</th><th>Delete</th></tr></thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Id</td>
                <td>@r.Body</td>
                <td>@r.Accepted</td>

                <td>
                    <a asp-action="UpdateAnswer" asp-route-id="@r.Id">Edit</a>
                </td>
                <td>
                    <form asp-action="DeleteAnswer" method="post">
                        <input type="hidden" value="@r.Id" name="Id" />
                        <button>Delete</button>
                      @*  <input type="image" src="/icon/close.png" />*@

                    </form>
                   @* <a asp-action="DeleteAnswer" asp-route-id="@r.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>


